@using Main_Common.Enum
@using Main_Common.Enum.E_ProjectType
@model Main_Common.Model.Data.User.User_Model
@{
    var today = DateTime.UtcNow.AddHours(8);
    var permissionDTO = (Main_Common.Model.Tool.Permission_DTO)ViewBag.Permission_DTO; //權限DTO
}

<form asp-action="Create_User" asp-controller="User"
      id="form_CreateUser"
      data-ajax="true" data-ajax-method="Post" data-ajax-success="Result_CreateUser(data)"
      data-ajax-begin="myaa_LoadingOn()" data-ajax-complete="myaa_LoadingOff()" data-ajax-failure="myaa_ComFail()">
    <div class="card mb-3">
        <!--Card Header-->
        <div class="card-header padd-lr-7" style="cursor: pointer" data-bs-toggle="collapse" data-bs-target="#clps_CreateUser">
            <h4 style="margin:0px">新增使用者</h4>
        </div>
        <div id="clps_CreateUser" class="collapse show">
            <!--Card Body-->
            <div class="card-body padd-lr-7">
                <div>
                    <input asp-for="CRUD" type="hidden" id="CRUD" class="_CRUD" />
                    @* <input asp-for="Id" type="hidden" id="Id" class="_Id" /> *@
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CompanyId" class="control-label">公司</label>
                            <input asp-for="CompanyId" type="text"
                                   id="CompanyId" class="_CompanyId form-control w-100 bg-disable"
                                   style=""
                                   placeholder="請輸入" title="公司" readonly="readonly" />
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div><hr />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="No" class="control-label">代號</label>
                            <input asp-for="No" type="text"
                                   id="No" class="_No form-control w-100"
                                   style=""
                                   maxlength="" placeholder="請輸入" title="代號" />
                            <span asp-validation-for="No" class="text-danger"></span>
                        </div><hr />
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">名稱</label>
                            <input asp-for="Name" type="text"
                                   id="Name" class="_Name form-control w-100"
                                   style=""
                                   maxlength="" placeholder="請輸入" title="名稱" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div><hr />
                    </div>
                    <div class="col-md-4">
                        <div class="form-group select2-textbox">
                            <label asp-for="RoleId" class="control-label">角色</label>
                            <select asp-for="RoleId" asp-items="@ViewBag.DropList_Role"
                                    id="RoleId_ByCreate" class="_RoleId _select2 form-control w-100"
                                    style=""
                                    placeholder="請輸入" title="角色">
                            </select>
                            <span asp-validation-for="RoleId" class="text-danger"></span>
                        </div><hr />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">密碼</label>
                            <input asp-for="Password" type="password"
                                   id="Password" class="_Password form-control w-100"
                                   style=""
                                   maxlength="" placeholder="請輸入" title="密碼" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div><hr />
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Mail" class="control-label">信箱</label>
                            <input asp-for="Mail" type="text" 
                                   id="Mail" class="_Mail form-control w-100"
                                   style=""
                                   placeholder="請輸入" title="信箱" />
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div><hr />
                    </div>
                </div>

                <div class="row" style="display:none">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="IsStop" for="IsStop_Create" class="form-check-label">是否停用</label>
                            <input asp-for="IsStop" type="checkbox"
                                   id="IsStop_Create" class="_IsStop form-check-input"
                                   style=""
                                   placeholder="請輸入" title="是否停用" />
                            <span asp-validation-for="IsStop" class="text-danger"></span>
                        </div><hr />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Rem" class="control-label">備註</label>
                            <textarea asp-for="Rem" type="text"
                                      id="Rem" class="_Rem form-control w-100"
                                      style=""
                                      placeholder="請輸入" title="備註"></textarea>
                            <span asp-validation-for="Rem" class="text-danger"></span>
                        </div><hr />
                    </div>
                </div>

                <div class="_mDevelopMemo _mHideMemo alert alert-danger" style="display:none" role="alert">
                    <ul style="margin:0">
                        @*<li>【使用者】欄位，只有登入者所屬使用者等級為[最高級]，允許變更。</li>
                        <li>【使用者】欄位，連動[角色權限][部門][客戶]欄位。</li>*@
                    </ul>
                </div>
            </div>

            <!--Card Footer-->
            <div class="card-footer text-muted padd-lr-7">
                <Button type="submit" class="btn btn-primary" onclick="">保存</Button>

                <a href="@Url.Action("CreateView_User", "User")"
                   data-ajax="true" data-ajax-method="Post" data-ajax-success="ShowTab_CreateUser(data)"
                   data-ajax-begin="myaa_LoadingOn()" data-ajax-complete="myaa_LoadingOff()" data-ajax-failure="myaa_ComFail()"
                   class="_btnReset btn btn-primary">
                    重整
                </a>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var form = $("#form_CreateUser");

        // 建構Select2
        InitSelect2_Role(form.attr("id"), false, null, null); // 角色

        // 解鎖Select
        //myaa_select_Disable_Toggle(form.find("._UserLevelId"), false); // 使用者分級

        // // 依使用者等級，區分執行區塊
        // switch ('@permissionDTO.CompanyLevelId') {
        //    case '@E_CompanyLevel.最高級':
        //         //Init_Select2_Company(form.attr("id"), false, @(Model.CompanyId ?? 0)); // 建構Select2
        //         //select2_Disable_Toggle(form.find("._CompanyId"), false); //解鎖select2(使用者)
        //        break;
        //    default:
        //         //select2_Disable_Toggle(form.find("._CompanyId"), true); //禁用select2(使用者)
        //        break;
        // }

        // 重新綁定表單驗證
        myaa_RefreshUnobtrusive_ById(form.attr("id"));
    });
</script>